html {
  background-color: #6b7db3;
  display: grid;
  text-align: center;
  padding: 5%;
  justify-items: center;
}

.TitleDiv {
  border-style: solid;
  border-color:aquamarine;
}

#Title {
    margin:2%;
    padding:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Title {
  background-color: #b36b6b;
  color: #ff9999;
  border-color: #e4ddc3;
  border-width: 5px;
  border-style: dashed;
  border-radius: 2rem;
  padding: 5px;
  min-width: 300px;
  max-width: 350px;
}
#Intro {
    display: inline-block;
    max-width: fit-content;
    padding:8px;
    background-color: #e8b877;
    border-radius: 20rem;
    color: #ffff99;
}
/*end of first box*/
/*start of second box*/
.GreetingDiv {
  padding:10rem;
  border-style: solid;
  border-color:aquamarine;
}
.Greet {padding:10%;
  animation: color-change 3s infinite alternate;
}

@keyframes color-change {
  0% {
    color: red; /* Starting color */
  }
  25% {
    color: blue; /* Color at 25% of animation */
  }
  50% {
    color: green; /* Color at 50% of animation */
  }
  75% {
    color: purple; /* Color at 75% of animation */
  }
